@model IEnumerable <october25th2014.Models.Donor>

@{
    ViewBag.Title = "List of Donors";
}

<h2>List of Donors</h2>
@foreach (var item in Model)
{
    <div>
    @donors.Name - @donors.BloodType
        <a href="@Url.Action("Edit", "Donor", new { id = item.DonorID })">

        </a>
        </div>
}